<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h3>Please sign in below</h3>
<form method="post" action="/users">
  <input type="text" size="20" id="login-name" name="name" />
  <input type="password" size="20" id="password" name="password" />
  <input type="submit" />
</form>
